body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://media.licdn.com/dms/image/C561BAQH6mYpcK5v0IQ/company-background_1536_768/0/1584511114432?e=2147483647&v=beta&t=VnV4Gm3p964jHnCLNL0-bNBrNepIuRbdUHImaOu42K0'); /* URL de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#calendar {
    max-width: 900px;
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#reservation-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que el formulario esté por encima de otros elementos */
}

.hidden {
    display: none;
}
